<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Sale - A&G</title>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/header_advertiser.css">
	<link rel="stylesheet" href="css/create_sale.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<img class="logo" src="img/icon/logo_white.png">
		<input type="text" placeholder="Search ...">
		<div class="user">
			<img class="user_icon" src="img/icon/notification.png">
			<img class="user_icon" src="img/icon/user_white.png">
			<p>Welcome,<br>User</p>
		</div>
	</header>
	<img class="marcation" src="img/icon/marcation.png">
	<main>
		<section class="navegation">
			<div class=home>
				<img src="img/icon/dashboard.png">
				<a href="index_advertiser.html">Home</a>
			</div>
			<div class="my_sales">
				<img src="img/icon/products.png">
				<a href="my_sales.html">My Sales</a>
			</div>
			<div class="my_products">
				<img src="img/icon/products.png">
				<a href="my_products_advertiser.html">My Products</a>
			</div>
		</section>
		<div class="settings">
			<img src="img/icon/settings.png">
			<a href="settings.html">Settings</a>
		</div>
		<div class="bg_delimiter">

			<div class="tittle">
				<img src="img/icon/shopping.png">
				<h1>Create Sale</h1>
			</div>
		</div>
		<div class="group3">
			<form action="/cadastrarAnuncio" method="post" enctype="multipart/form-data">
				<label class="custom-label" for="nome">Nome:</label>
				</br>
				<input class="input1" type="text" name="nome">
				</br>
				<label class="custom-label" for="preco">Preço:</label>
				</br>
				<input class="input1" type="text" name="preco">
				</br>
				<label class="custom-label" for="preco">Descricao:</label>
				</br>
				<textarea input class="input1" type="text" name="descricao"></textarea>
				</br>
				<label class="custom-label" for="imagem">Escolha uma imagem:</label>
				</br>
				<input type="file" name="imagem" text="Procurar Imagem">
				</br>
				<button class="save" type="submit">Create</button>
			</form>
		</div>
	</main>

</body>

</html>