<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Sale - A&G</title>
    <link rel="stylesheet" href="src/css/reset.css">
    <link rel="stylesheet" href="src/css/header_advertiser.css">
    <link rel="stylesheet" href="src/css/create_sale.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img class="logo" src="src/img/icon/logo_white.png">
        <input type="text" placeholder="Search ...">
        <div class="user">
            <img class="user_icon" src="src/img/icon/notification.png">
            <img class="user_icon" src="src/img/icon/user_white.png">
            <p>Welcome,<br>User</p>
        </div>
    </header>
    <img class="marcation" src="src/img/icon/marcation.png">
    <main>
        <section class="navegation">
            <div class=home>
                <img src="src/img/icon/dashboard.png">
                <a href="index_advertiser.html">Home</a>
            </div>
            <div class="my_sales">
                <img src="src/img/icon/products.png">
                <a href="my_sales.html">My Sales</a>
            </div>
            <div class="my_products">
                <img src="src/img/icon/products.png">
                <a href="my_products_advertiser.html">My Products</a>
            </div>
        </section>
        <div class="settings">
            <img src="src/img/icon/settings.png">
            <a href="settings.html">Settings</a>
        </div>
        <div class="bg_delimiter">

            <div class="tittle">
                <img src="src/img/icon/shopping.png">
                <h1>Create Sale</h1>
            </div>
            <div>
            	<form action = "/cadastrarAnuncio" method = "post" enctype="multipart/form-data">
	            	<input type = "file" name = "imagem">
	            	<input type = "text" name = "preco">
	            	<input type = "text" name = "nome">
	            	<button class="save" type = "submit">Create</button>
            	</form>
            </div>
        </div>
    </main>
    
</body>
</html>