<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head> </head>
  <body>
    <h1>Como é o seu treino?</h1>
    <form th:action="@{/editarTreino/{id}(id = ${treino.id})}" method="post">
      <label for="name">Nome:</label><br />
      <input
        type="text"
        id="name"
        name="name"
        th:value="${treino.name}"
        size="50"
      /><br /><br />
      <label for="content">Treino:</label><br />
      <textarea
        id="content"
        name="content"
        th:text="${treino.content}"
        cols="80"
        rows="10"
      ></textarea
      ><br /><br />
      <input type="submit" value="Enviar" />
    </form>
    <form th:action="@{/}" method="get">
      <button name="retornar" value="return">Retornar</button>
    </form>
  </body>
</html>
