<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Pagina inicial</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
		integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/index.css">
	<script src="script/carrinho.js"></script>
</head>

<body onload="mostraCarrinho(),carregaCarrinho()">
	<div th:replace="~{nav :: nav}"></div>

	</br>
	</br>
	</br>
	</br>
	<div id="carousel" class="carousel" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
			<li data-target="#carousel" data-slide-to="2"></li>
			<li data-target="#carousel" data-slide-to="3"></li>
			<li data-target="#carousel" data-slide-to="4"></li>
			<li data-target="#carousel" data-slide-to="5"></li>
		</ol>
		<div class="carousel-inner" style="height: 600px;">
			<div class="carousel-item active">
				<img class="d-block w-100" src="img/1.png" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="img/2.png" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="img/3.png" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="img/4.png" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="img/5.png" alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="img/6.png" alt="First slide">
			</div>
		</div>
	</div>

	<div class="container pt-5">
		<h3 class="text-center">Mais vendidos</h3>
	</div>
	<div th:if="${#lists.size(maisvendido) > 9}">
		<div id="carouselExampleControls" class="carousel" data-ride="carousel">
			<div class="carousel-inner" style="height: 500px;">
				<div class="carousel-item active">
					<div class="card-columns container" style="margin-left: 100px;">
						<div class="card" th:each="j : ${#numbers.sequence(0, 4)}" style="width: 210px;">
							<a th:href="@{/produtos/{id}(id = ${maisvendido[j].id})}">
								<img class="card-img-top product-image"
									th:src="'img/prodImages/' + ${maisvendido[j].image}+'.jpg'"
									alt="Card image cap"></a>
							<div class="card-body text-center">
								<div class="card-title">
									<h5 class="card-title text-center" th:text="${maisvendido[j].name}"></h5>
								</div>
								<div class="row text-center justify-content-center"
									th:if="${maisvendido[j].notaTotal != null}">
									<div th:each="i : ${#numbers.sequence(1, 5)}">
										<span th:if="${i &lt;= maisvendido[j].notaTotal}"
											class="fa fa-star text-warning"></span>
										<span th:if="${i > maisvendido[j].notaTotal}" class="fa fa-star"
											style="color: rgb(214, 214, 214);"></span>
									</div>
									<div>
										<span th:text="'(' + ${#lists.size(maisvendido[j].avaliacao)} + ')'"
											style="color: rgb(193, 193, 193);"></span>
									</div>
								</div>


								<a class="price-text font-weight-bold" th:text="'R$ ' + ${maisvendido[j].preco}"></a>
								<div>
									<button type="button" class="btn btn-sm btn-success text-center"
										th:onclick="adicionarCarrinho([[${maisvendido[j].id}]],[[${maisvendido[j].name}]],[[${maisvendido[j].image}]],[[${maisvendido[j].preco}]],1),mostraCarrinho()"
										style="font-size: 24px;">
										Carrinho
										<img src="img/icon/carrinho.png" class="w-25 h-25 ml-2"
											style="filter:invert(100%)">
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="card-columns container" style="margin-left: 100px;">
						<div class="card" th:each="j : ${#numbers.sequence(5, 9)}" style="width: 210px;">
							<a th:href="@{/produtos/{id}(id = ${maisvendido[j].id})}">
								<img class="card-img-top product-image"
									th:src="'img/prodImages/' + ${maisvendido[j].image}+'.jpg'"
									alt="Card image cap"></a>
							<div class="card-body text-center">
								<div class="card-title">
									<h5 class="card-title text-center" th:text="${maisvendido[j].name}"></h5>
								</div>
								<div class="row text-center justify-content-center"
									th:if="${maisvendido[j].notaTotal != null}">
									<div th:each="i : ${#numbers.sequence(1, 5)}">
										<span th:if="${i &lt;= maisvendido[j].notaTotal}"
											class="fa fa-star text-warning"></span>
										<span th:if="${i > maisvendido[j].notaTotal}" class="fa fa-star"
											style="color: rgb(214, 214, 214);"></span>
									</div>
									<div>
										<span th:text="'(' + ${#lists.size(maisvendido[j].avaliacao)} + ')'"
											style="color: rgb(193, 193, 193);"></span>
									</div>
								</div>


								<a class="price-text font-weight-bold" th:text="'R$ ' + ${maisvendido[j].preco}"></a>
								<div>
									<button type="button" class="btn btn-sm btn-success text-center"
										th:onclick="adicionarCarrinho([[${maisvendido[j].id}]],[[${maisvendido[j].name}]],[[${maisvendido[j].image}]],[[${maisvendido[j].preco}]],1),mostraCarrinho()"
										style="font-size: 24px;">
										Carrinho
										<img src="img/icon/carrinho.png" class="w-25 h-25 ml-2"
											style="filter:invert(100%)">
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
	<img class="card border-0" src="img/suadieta.png"
		style="margin-left: 80px;margin-top: 80px; object-fit:cover; width:1200px;height:300px;">

	<div class="container pt-5 text-center">
		<h3>Outros produtos</h3>
	</div>
	<div class="container pt-5">
		<div class="card-columns">
			<div class="card" th:each="anuncio : ${anuncios}" style="width: 210px;">
				<a th:href="@{/produtos/{id}(id = ${anuncio.id})}">
					<img class="card-img-top product-image" th:src="'img/prodImages/' + ${anuncio.image}+'.jpg'"
						alt="Card image cap"></a>
				<div class="card-body text-center">
					<div class="card-title">
						<h5 class="card-title text-center" th:text="${anuncio.name}"></h5>
					</div>
					<div class="row text-center justify-content-center" th:if="${anuncio.notaTotal != null}">
						<div th:each="i : ${#numbers.sequence(1, 5)}">
							<span th:if="${i &lt;= anuncio.notaTotal}" class="fa fa-star text-warning"></span>
							<span th:if="${i > anuncio.notaTotal}" class="fa fa-star"
								style="color: rgb(214, 214, 214);"></span>
						</div>
						<div>
							<span th:text="'(' + ${#lists.size(anuncio.avaliacao)} + ')'"
								style="color: rgb(193, 193, 193);"></span>
						</div>
					</div>


					<a class="price-text font-weight-bold" th:text="'R$ ' + ${anuncio.preco}"></a>
					<div>
						<button type="button" class="btn btn-sm btn-success text-center"
							th:onclick="adicionarCarrinho([[${anuncio.id}]],[[${anuncio.name}]],[[${anuncio.image}]],[[${anuncio.preco}]],1),mostraCarrinho()"
							style="font-size: 24px;">
							Carrinho
							<img src="img/icon/carrinho.png" class="w-25 h-25 ml-2" style="filter:invert(100%)">
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	</tbody>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
		integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
		crossorigin="anonymous"></script>
</body>

</html>
