<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Pagina inicial</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
		integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/index.css">
	<script src="script/carrinho.js"></script>
</head>

<body onload="carregaCarrinho()" style="background-color: rgb(218, 218, 218);">


	<div th:replace="~{nav :: nav}"></div>

  </br>
	</br>
	</br>
	</br>
	</br>
	<div class="container text-left " style="background-color: white;">
		</br>
		<div class="text-center mt-4">
			<h1 style="color:#0c95b5;" class="mb-5">Desculpe, você ainda não é anunciante.</h1>
			<img src="img/triste.png" class="mb-5" style="width:250px;height:250px;">
		</div>
		<h4>Mas não se preocupe, você pode assinar a A&G agora e começar a anunciar seus produtos em
			nossa plataforma.</h4>
		</br>
		<h5>Veja os beneficios de se tornar anunciante:</h5>
		</br>
		<h6>- Anunciar os seu produtos na A&G garante grande visibilidade.</h4>
			<h6>- Nos indicamos os seus produtos aos usuário que os consomem na dieta, garantindo as suas vendas.</h4>
				<h6>- Nosso sistema faz a gerência automatica das suas vendas, tornando tudo mais fácil.</h4>
					<h6>- A venda é feita de maneira facilitada e o repasse é feito assim que a compra é efetuada.</h4>
						</br>
						<div class="text-center">
							<form th:action="@{/subscription}" method="post">
								<button type="submit" class="btn btn-lg btn-primary">Quero me
									tornar
									anunciante</button>
							</form>
						</div>
						</br>
						</br>

	</div>
	</br>



	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
		integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
		crossorigin="anonymous"></script>
</body>

</html>
