<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Pagina inicial</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
		integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="css/index.css">
</head>

<body onload="carregaCarrinho()" style="background-color: rgb(218, 218, 218);">


	<nav class="sidebar navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<a class="navbar-brand" th:href="@{/}"><img src="img/icon/logo1.png" width="67" height="68"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
			<form class="form-inline my-2 my-lg-0 mx-auto">
				<i class="fa-light fa-magnifying-glass" style="color:grey"></i>
				<input class="form-control mr-sm-4" style="width: 400px;" type="search" placeholder="Buscar Produtos"
					aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i
						class="fas fa-search"></i></button>
			</form>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<img src="img/icon/user2.png" style="width: 40px;height:40px;" />
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Dieta</a>
						<a class="dropdown-item" href="#">Treino</a>
						<a class="dropdown-item" th:href="@{/anunciante}">Anunciante</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" th:href="@{/logout}">Sair da Conta</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" onclick="mostraCarrinho()" href="#" data-toggle="modal"
						data-target="#exampleModal"><img src="img/icon/carrinho.png" style="width: 40px;height:40px;">
						<span class="badge badge-danger badge-pill" id="numero-produtos"></span></a>
				</li>
			</ul>
		</div>
	</nav>

	</br>
	</br>
	</br>
	</br>
	</br>
	<div class="container text-left " style="background-color: white;">
		</br>
		<div class="text-center mt-4">
			<h1 style="color:#0c95b5;" class="mb-5">Desculpe, você ainda não é anunciante.</h1>
			<img src="img/triste.png" class="mb-5" style="width:250px;height:250px;">
		</div>
		<h4>Mas não se preocupe, você pode assinar a A&G agora e começar a anunciar seus produtos em
			nossa plataforma.</h4>
		</br>
		<h5>Veja os beneficios de se tornar anunciante:</h5>
		</br>
		<h6>- Anunciar os seu produtos na A&G garante grande visibilidade.</h4>
			<h6>- Nos indicamos os seus produtos aos usuário que os consomem na dieta, garantindo as suas vendas.</h4>
				<h6>- Nosso sistema faz a gerência automatica das suas vendas, tornando tudo mais fácil.</h4>
					<h6>- A venda é feita de maneira facilitada e o repasse é feito assim que a compra é efetuada.</h4>
						</br>
						<div class="text-center">
							<form th:action="@{/subscription}" method="post">
								<button type="submit" class="btn btn-lg btn-primary">Quero me
									tornar
									anunciante</button>
							</form>
						</div>
						</br>
						</br>

	</div>
	</br>

	<div class="container demo">
		<div class="modal left fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h2 class="modal-title">Carrinho</h2>
					</div>

					<div class="modal-body">
						<div class="nav flex-sm-column flex-row">
							<ul class="list-group" id="lista-produtos">
							</ul>
						</div>
						<div class="d-flex justify-content-center align-items-center" style="margin:10px;">
							<h3 id="total-carrinho"></h3>
						</div>
						<div class="d-flex justify-content-center align-items-center">
							<button class="btn btn-success btn-lg">Fechar
								Compra</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script>

		function carregaCarrinho() {
			let carrinho = localStorage.getItem('carrinho');
			if (carrinho != null) {
				carrinho = JSON.parse(carrinho);
				document.getElementById("numero-produtos").innerHTML = carrinho.length;
				return;
			}

			document.getElementById("numero-produtos").innerHTML = 0;
		}
		function mostraCarrinho() {
			let carrinho = localStorage.getItem('carrinho');
			if (carrinho != null) {
				carrinho = JSON.parse(carrinho);
				let totalCarrinho = 0;
				var listaProdutos = document.getElementById("lista-produtos");
				listaProdutos.innerHTML = "";
				for (var i = 0; i < carrinho.length; i++) {
					var produto = carrinho[i];
					var itemLista = document.createElement('li');
					itemLista.classList.add('list-group-item');
					itemLista.innerHTML = `
    <div style="text-align:center;">
      <img src="img/prodImages/${produto.img}.jpg"  style = "width:100px;height:100px; object-fit:contain;margin:auto;"alt="${produto.nome}">
      <h5>${produto.nome}</h5>
      <span class="badge badge-primary badge-pill">${produto.quantidade}</span>
      <p>R$ ${produto.preco.toFixed(2)}</p>
    </div>
  `;
					listaProdutos.appendChild(itemLista);
					totalCarrinho += produto.preco;
				}
				document.getElementById("total-carrinho").innerHTML = "Subtotal R$" + totalCarrinho;
			}
		}
	</script>
	<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
		integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
		crossorigin="anonymous"></script>
</body>

</html>