<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recover Password - A&G</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/recover_password.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="img/icon/logo_white.png">
    </header>
    <main>
        <section class="contend">
           <h1>Digite a nova senha</h1>
           <form action = "#" th:action="@{/changePassword}" method="post">
           			<input type="hidden" name="token" th:value="${token}" />
              Password:<input class="password" type="password" placeholder="password" name = "password">
              <button type="submit">Submit</button>
           </form>
        </section>
    </main>
</body>
</html>